<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="template">
<title>Add League</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<body>

<div layout:fragment="content">

		<form th:action="@{/league/addLeague}" method="post" >
			<div class="form-group">
				<label for="name">League name:</label> <input type="text"
					class="form-control" id="name" name="name_league"/>
			</div>
			<div class="form-group">
				<label for="country">Country:</label> <input
					type="text" class="form-control" id="country" name="country" />
			</div>
			<div class="form-group">
				<label for="club">Number of clubs:</label> <input
					type="text" class="form-control" id="club" name="nbr_club" />
			</div>
			<div class="form-group">
				<label for="continent">Continent:</label>
				<select  class="form-control" id="continent" name="continent">
				<option th:each="continent:${listContinent}" th:text="${continent.name_continent}"  th:value="${continent.id_continent}"> </option>
				</select>
			</div>
			<div class="form-group">
				<p>League Logo:</p>
				<div class="custom-file mb-3">
					<label class="custom-file-label" for="logo">Logo</label>
					<input type="file" class="custom-file-input" id="logo" name="logo_league"/>
				</div>
			</div>
			
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	
	</div>

</body>
</html>