<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  layout:decorator="template">
<title>League List</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<body>
<div layout:fragment="content">
		<h2 class="text-primary text-center"> List of Leagues</h2>
		<table class="table table-striped" style="margin-left:20px">
			<thead>
				<tr>
				  <th>ID</th>
					<th>Logo</th>
				  <th>Name League</th>
				  <th>Country</th>
				  <th>Number of clubs</th>
				  <th>Continent</th>
					<th sec:authorize="hasRole('ROLE_ADMIN')">Edit/Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="leagues:${listLeagues}">
				    <td th:text="${leagues.id_league}"></td>
					<td><img alt="logo" class="rounded-circle" th:src="'../images/'+${leagues.logo_league}" style="width:60px"/></td>
					<td th:text="${leagues.name_league}"></td>
					<td th:text="${leagues.country}"></td>
					<td th:text="${leagues.nbr_club}"></td>
					<td th:text="${leagues.continent.getName_continent()}"></td>
					<td>
													 
					   <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/league/delete(id=${leagues.id_league})}" class="btn btn-danger">Delete</a>
                         <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/league/edit(id=${leagues.id_league})}" class="btn btn-info">Edit</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="container">
		<ul class="pagination">
		 <li th:class="${currentPage}==${status.index}?'page-item active':''" th:each="page,status:${pages}"><a class="page-link" th:href="@{/league/listLeague(page=${status.index},size=${size})}" th:text="${status.index}"></a></li>
		</ul>
		</div>
		<a href="/" class="text-secondary">Back to index page</a>
</div>
</body>
</html>