<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="template">
<title>Results Details</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>


<body >
<div layout:fragment="content">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  
  <!-- Links -->
  <ul class="navbar-nav" >
    <li class="nav-item">
      <a class="nav-link" th:href="@{/matche/results(id=${playedHomeMatches.get(0).getLeague().getId_league()})}">Results</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/matche/standings(id=${playedHomeMatches.get(0).getLeague().getId_league()})}">Standings</a>
    </li>
  </ul>
</nav>

<div class="container">
<table class="table table-hover">
	<thead>
		<tr>
			<th>Match Date</th>
			<th>Home Team</th>
			<th>Away Team</th>
			<th>Result</th>
			<th>Stadium</th>
			<th>Round</th>
			
		</tr>
	</thead>
	<tbody>
	
		<tr th:each="matche:${playedHomeMatches}">
			<td th:text="${matche.date_match}"></td>
			<td>
				<img alt="logo" th:src="@{'/images/'+${matche.home_team.clubLogo}}" style="width:60px"/>
				<span th:class="${matche.goals_home_team}>${matche.goals_away_team}?'font-weight-bold'" th:text="${matche.home_team.getName_club()}"></span>
			</td>
			<td>
				<img alt="logo" th:src="@{'/images/'+${matche.away_team.clubLogo}}" style="width:60px"/>
				<span th:class="${matche.goals_home_team}<${matche.goals_away_team}?'font-weight-bold'" th:text="${matche.away_team.getName_club()}"></span>
			</td>
	
			<td class="font-weight-bold">
				<span th:text="${matche.goals_home_team}"></span>
				:
				<span th:text="${matche.goals_away_team}"></span>
		    </td>
			<td th:text="${matche.stadium.getName_stadium()}"></td>
			<td th:text="${matche.round}"></td>
		</tr>
	</tbody>
</table>

 </div>
</div>
</body>

</html>